In [7]:
import pandas as pd

In [3]:
movie_data = pd.read_json('movie.json.txt')

In [4]:
movie_data.head()

,Adam Cohen,Bill Duffy,Brenda Peterson,Chris Duncan,Clarissa Jackson,David Smith,Julie Hammel,Samuel Miller
Goodfellas,4.5,4.5,2.0,NaN,2.5,4.5,3.0,5.0
Raging Bull,NaN,NaN,1.0,4.5,4.0,3.0,NaN,5.0
Roman Holiday,3.0,NaN,4.5,NaN,1.5,NaN,4.5,1.0
Scarface,3.0,5.0,1.5,NaN,4.5,4.5,2.5,3.5
The Apartment,1.0,1.0,5.0,1.5,1.0,1.0,NaN,1.0

In [8]:
from sklearn.neighbors import NearestNeighbors

In [13]:
movie_data.fillna(0, inplace=True)

In [14]:
knn_model = NearestNeighbors(n_neighbors=8).fit(movie_data.as_matrix().T)

In [18]:
_, nearest_data = knn_model.kneighbors(movie_data.as_matrix().T[:2])

In [20]:
nearest_data[0]

array([0, 1, 6, 5, 4, 2, 7, 3], dtype=int64)

In [22]:
knn_model = NearestNeighbors(n_neighbors=4).fit(movie_data.as_matrix())

In [23]:
_, nearest_data = knn_model.kneighbors(movie_data.as_matrix()[:2])

In [24]:
nearest_data[0]

array([0, 3, 5, 2], dtype=int64)

#### Computing similarity score
* Pearson score
* Euclidian score

In [ ]:
def edclidian_score(movie_data, user1, user2):
    common_movies = {}
    users_df = movie_data[[user1,user2]]
    users_df.dropna()

In [33]:
movie_data = pd.read_json('movie.json.txt')
common_movies_list = movie_data[['Adam Cohen','Bill Duffy']].dropna().index.tolist()

In [34]:
common_movies = {}
for movie in common_movies_list:
    common_movies[movie] = 1

In [35]:
common_movies

{'Goodfellas': 1, 'Scarface': 1, 'The Apartment': 1, 'Vertigo': 1}

In [36]:
common_movies_list

['Goodfellas', 'Scarface', 'The Apartment', 'Vertigo']

In [38]:
common_movie_df = movie_data[['Adam Cohen','Bill Duffy']].loc[common_movies_list]

In [39]:
common_movie_df.columns

Index(['Adam Cohen', 'Bill Duffy'], dtype='object')

In [40]:
import numpy as np
common_movie_df['sq_diff'] = np.square(common_movie_df['Adam Cohen'] - common_movie_df['Bill Duffy'])

In [42]:
np.sum(common_movie_df.sq_diff)

5.0

In [60]:
#No common movies - np similarity
def get_similar_users(movie_data, user1, user2):
    common_movies_list = movie_data[[user1,user2]].dropna().index.tolist()
    common_movie_df = movie_data[[user1,user2]].loc[common_movies_list]
    common_movie_df['sq_diff'] = np.square(common_movie_df[user1] - common_movie_df[user2])
    return 1 - 1/(1 + np.sqrt(np.sum(common_movie_df.sq_diff)))

In [61]:
users = movie_data.columns.tolist()

In [62]:
for user1 in users:
    for user2 in users:
        if user1 != user2:
            similarity = get_similar_users(movie_data,user1,user2)
            print (user1, user2, similarity)

Adam Cohen Bill Duffy 0.690983005625
Adam Cohen Brenda Peterson 0.838609522204
Adam Cohen Chris Duncan 0.333333333333
Adam Cohen Clarissa Jackson 0.766285203882
Adam Cohen David Smith 0.612574113277
Adam Cohen Julie Hammel 0.685480140861
Adam Cohen Samuel Miller 0.679622758983
Bill Duffy Adam Cohen 0.690983005625
Bill Duffy Brenda Peterson 0.858400620238
Bill Duffy Chris Duncan 0.333333333333
Bill Duffy Clarissa Jackson 0.679622758983
Bill Duffy David Smith 0.414213562373
Bill Duffy Julie Hammel 0.74460320701
Bill Duffy Samuel Miller 0.612574113277
Brenda Peterson Adam Cohen 0.838609522204
Brenda Peterson Bill Duffy 0.858400620238
Brenda Peterson Chris Duncan 0.831925639647
Brenda Peterson Clarissa Jackson 0.872997545028
Brenda Peterson David Smith 0.857566034343
Brenda Peterson Julie Hammel 0.585786437627
Brenda Peterson Samuel Miller 0.883264480441
Chris Duncan Adam Cohen 0.333333333333
Chris Duncan Bill Duffy 0.333333333333
Chris Duncan Brenda Peterson 0.831925639647
Chris Duncan Clarissa Jackson 0.414213562373
Chris Duncan David Smith 0.612574113277
Chris Duncan Julie Hammel 0.0
Chris Duncan Samuel Miller 0.414213562373
Clarissa Jackson Adam Cohen 0.766285203882
Clarissa Jackson Bill Duffy 0.679622758983
Clarissa Jackson Brenda Peterson 0.872997545028
Clarissa Jackson Chris Duncan 0.414213562373
Clarissa Jackson David Smith 0.710102051443
Clarissa Jackson Julie Hammel 0.784485310642
Clarissa Jackson Samuel Miller 0.74460320701
David Smith Adam Cohen 0.612574113277
David Smith Bill Duffy 0.414213562373
David Smith Brenda Peterson 0.857566034343
David Smith Chris Duncan 0.612574113277
David Smith Clarissa Jackson 0.710102051443
David Smith Julie Hammel 0.714285714286
David Smith Samuel Miller 0.696167565299
Julie Hammel Adam Cohen 0.685480140861
Julie Hammel Bill Duffy 0.74460320701
Julie Hammel Brenda Peterson 0.585786437627
Julie Hammel Chris Duncan 0.0
Julie Hammel Clarissa Jackson 0.784485310642
Julie Hammel David Smith 0.714285714286
Julie Hammel Samuel Miller 0.805950034987
Samuel Miller Adam Cohen 0.679622758983
Samuel Miller Bill Duffy 0.612574113277
Samuel Miller Brenda Peterson 0.883264480441
Samuel Miller Chris Duncan 0.414213562373
Samuel Miller Clarissa Jackson 0.74460320701
Samuel Miller David Smith 0.696167565299
Samuel Miller Julie Hammel 0.805950034987

In [54]:
#### Pearson Correlation

In [55]:
def get_pearson_correlation(movie_data, user1, user2):
    common_movies_list = movie_data[[user1,user2]].dropna().index.tolist()
    common_movie_df = movie_data[[user1,user2]].loc[common_movies_list]
    return common_movie_df.corr().loc[]

In [56]:
get_pearson_correlation(movie_data, 'Samuel Miller', 'David Smith')

               Samuel Miller  David Smith
Samuel Miller       1.000000     0.758787
David Smith         0.758787     1.000000