#### What is BIg Data ?

4 V's of Big Data
* Velocity 
* Volume 
* Variety 
* Veracity

Pandas - High-Performance ope source library for data analysis
* Process datasets of different formats - time series, tabular data, matrix data
* Import data from csv,json & database
* Provides extensive operations like slice,subset,merging, groupby,shaping etc.
* Handling missing data
* Doing statiscal analysis
* Pandas objects are consumed by scikit-learn,tensorflow

In [2]:
import pandas as pd

#### Three main datastructure inside pandas
* Series
* DataFrame
* Panel

##### Series
1D NumPy array with name

In [4]:
import pandas as pd
import numpy as np

In [5]:
ser = pd.Series(np.random.rand(7))

In [6]:
ser

0    0.979501
1    0.915633
2    0.391474
3    0.815091
4    0.686189
5    0.158419
6    0.717604
dtype: float64

In [7]:
ser.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
ser.values

array([ 0.97950149,  0.91563291,  0.39147439,  0.81509092,  0.68618898,
        0.15841903,  0.71760408])

In [9]:
#### Series creation from dictionary
db = {'US':'dollar','India':'rupee','UK':'euro'}

In [13]:
currSer = pd.Series(db)

In [11]:
currSer

India     rupee
UK         euro
US       dollar
dtype: object

In [12]:
currSer['UK']

'euro'

In [14]:
# Create Series from Scalar values

In [15]:
dogseries = pd.Series('xyz',index=['breed','location'])

In [16]:
dogseries

breed       xyz
location    xyz
dtype: object

In [17]:
ser = pd.Series(np.random.rand(7), index=['a','b','c','d','e','f','g'])

In [18]:
ser

a    0.802671
b    0.225824
c    0.050227
d    0.963489
e    0.369142
f    0.540058
g    0.913529
dtype: float64

In [20]:
# Opeartions on series
ser[:'c']

a    0.802671
b    0.225824
c    0.050227
dtype: float64

In [21]:
ser['c'] = 22222.0

In [22]:
ser

a        0.802671
b        0.225824
c    22222.000000
d        0.963489
e        0.369142
f        0.540058
g        0.913529
dtype: float64

In [23]:
np.mean(ser)

3175.116387495001

In [24]:
np.std(ser)

7775.857677701416

#### DataFrames
* Analogous to spreedsheet
* collection series
* mutable
* hetrogenous

#### Most commonly used data structure in pandas
* Dic of 1D arrays,series
* NumPy array
* csv, json, databases

In [25]:
#Dictionary of Series
stockSummaries={
'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88], 
        index=['Closing price','EPS',
                'Shares Outstanding(M)',
                'Beta', 'P/E','Market Cap(B)']),
    
'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'Beta','P/E','Market Cap(B)']),
'FB': pd.Series([61.48,0.59,2450,104.93,150.92], 
      index=['Closing price','EPS','Shares Outstanding(M)',
             'P/E', 'Market Cap(B)']),
'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'P/E','Beta', 'Market Cap(B)']),
'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
       index=['Closing price','EPS','Shares Outstanding(M)',
              'Market Cap(B)']), 
'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
       index=['Closing price','EPS','Shares Outstanding(M)','P/E',
              'Market Cap(B)','Beta'])}

In [26]:
stockdf = pd.DataFrame(stockSummaries)

In [27]:
stockdf

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00