#### What is BIg Data ?

4 V's of Big Data
* Velocity 
* Volume 
* Variety 
* Veracity

Pandas - High-Performance ope source library for data analysis
* Process datasets of different formats - time series, tabular data, matrix data
* Import data from csv,json & database
* Provides extensive operations like slice,subset,merging, groupby,shaping etc.
* Handling missing data
* Doing statiscal analysis
* Pandas objects are consumed by scikit-learn,tensorflow

In [2]:
import pandas as pd

#### Three main datastructure inside pandas
* Series
* DataFrame
* Panel

##### Series
1D NumPy array with name

In [4]:
import pandas as pd
import numpy as np

In [5]:
ser = pd.Series(np.random.rand(7))

In [6]:
ser

0    0.979501
1    0.915633
2    0.391474
3    0.815091
4    0.686189
5    0.158419
6    0.717604
dtype: float64

In [7]:
ser.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
ser.values

array([ 0.97950149,  0.91563291,  0.39147439,  0.81509092,  0.68618898,
        0.15841903,  0.71760408])

In [9]:
#### Series creation from dictionary
db = {'US':'dollar','India':'rupee','UK':'euro'}

In [13]:
currSer = pd.Series(db)

In [11]:
currSer

India     rupee
UK         euro
US       dollar
dtype: object

In [12]:
currSer['UK']

'euro'

In [14]:
# Create Series from Scalar values

In [15]:
dogseries = pd.Series('xyz',index=['breed','location'])

In [16]:
dogseries

breed       xyz
location    xyz
dtype: object

In [17]:
ser = pd.Series(np.random.rand(7), index=['a','b','c','d','e','f','g'])

In [18]:
ser

a    0.802671
b    0.225824
c    0.050227
d    0.963489
e    0.369142
f    0.540058
g    0.913529
dtype: float64

In [20]:
# Opeartions on series
ser[:'c']

a    0.802671
b    0.225824
c    0.050227
dtype: float64

In [21]:
ser['c'] = 22222.0

In [22]:
ser

a        0.802671
b        0.225824
c    22222.000000
d        0.963489
e        0.369142
f        0.540058
g        0.913529
dtype: float64

In [23]:
np.mean(ser)

3175.116387495001

In [24]:
np.std(ser)

7775.857677701416

#### DataFrames
* Analogous to spreedsheet
* collection series
* mutable
* hetrogenous

#### Most commonly used data structure in pandas
* Dic of 1D arrays,series
* NumPy array
* csv, json, databases

In [25]:
#Dictionary of Series
stockSummaries={
'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88], 
        index=['Closing price','EPS',
                'Shares Outstanding(M)',
                'Beta', 'P/E','Market Cap(B)']),
    
'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'Beta','P/E','Market Cap(B)']),
'FB': pd.Series([61.48,0.59,2450,104.93,150.92], 
      index=['Closing price','EPS','Shares Outstanding(M)',
             'P/E', 'Market Cap(B)']),
'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'P/E','Beta', 'Market Cap(B)']),
'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
       index=['Closing price','EPS','Shares Outstanding(M)',
              'Market Cap(B)']), 
'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
       index=['Closing price','EPS','Shares Outstanding(M)','P/E',
              'Market Cap(B)','Beta'])}

In [26]:
stockdf = pd.DataFrame(stockSummaries)

In [27]:
stockdf

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00

In [28]:
stockdf.T

      Beta  Closing price    EPS  Market Cap(B)     P/E  Shares Outstanding(M)
AAPL  0.84         501.53  40.32         447.59   12.44                 892.45
AMZN  0.52         346.15   0.59         158.88  589.80                 459.00
FB     NaN          61.48   0.59         150.92  104.93                2450.00
GOOG  0.87        1133.43  36.05         380.64   31.44                 335.83
TWTR   NaN          65.25  -0.30          36.23     NaN                 555.20
YHOO  0.66          34.90   1.27          35.36   27.48                1010.00

In [35]:
type(stockdf['AAPL'])

pandas.core.series.Series

In [36]:
stockdf[['AAPL','FB']]

                         AAPL       FB
Beta                     0.84      NaN
Closing price          501.53    61.48
EPS                     40.32     0.59
Market Cap(B)          447.59   150.92
P/E                     12.44   104.93
Shares Outstanding(M)  892.45  2450.00

In [37]:
#returns a dataframe
stockdf[['AAPL']]

                         AAPL
Beta                     0.84
Closing price          501.53
EPS                     40.32
Market Cap(B)          447.59
P/E                     12.44
Shares Outstanding(M)  892.45

In [41]:
#column deletion
del stockdf['AAPL']

In [39]:
stockdf

                         AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.52      NaN     0.87     NaN     0.66
Closing price          346.15    61.48  1133.43   65.25    34.90
EPS                      0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          158.88   150.92   380.64   36.23    35.36
P/E                    589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  459.00  2450.00   335.83  555.20  1010.00

In [45]:
#Creating a new column from values of other column
stockdf['ZEKE'] = stockdf['GOOG'] + 100

In [44]:
stockdf

                         AMZN       FB     GOOG    TWTR     YHOO     ZEKE
Beta                     0.52      NaN     0.87     NaN     0.66   100.87
Closing price          346.15    61.48  1133.43   65.25    34.90  1233.43
EPS                      0.59     0.59    36.05   -0.30     1.27   136.05
Market Cap(B)          158.88   150.92   380.64   36.23    35.36   480.64
P/E                    589.80   104.93    31.44     NaN    27.48   131.44
Shares Outstanding(M)  459.00  2450.00   335.83  555.20  1010.00   435.83

In [48]:
#Creating dataframe from numpy array
ore1DF=pd.DataFrame(np.array([[20,35,25,20],
                              [11,28,32,29]]),
                    columns=['iron','magnesium',
                             'copper','silver'],
                    index=['a','b'])

In [49]:
ore1DF

   iron  magnesium  copper  silver
a    20         35      25      20
b    11         28      32      29

In [56]:
#Create dataframe from dic of series
df1 = pd.DataFrame({ 'abc': pd.Series([1,2,3,4], index=['a','b','c','e']), 
               'def': pd.Series([5,6,7,8], index=['a','b','c','d'])}
             )

In [57]:
df2 = pd.DataFrame({ 'abc': pd.Series([1,2,3,4], index=['a','b','c','e']), 
               'def': pd.Series([5,6,7,8], index=['a','b','c','d'])}
             )

In [58]:
df1 + df2

   abc   def
a  2.0  10.0
b  4.0  12.0
c  6.0  14.0
d  NaN  16.0
e  8.0   NaN

In [59]:
np.sqrt(df1)

        abc       def
a  1.000000  2.236068
b  1.414214  2.449490
c  1.732051  2.645751
d       NaN  2.828427
e  2.000000       NaN